<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>$title$</title>
</head>
<body>
<div id="container">

<div class="layout header">
<div class="layout logo">
<a href="index.html">Home</a>
</div>
<div class="layout nav">
<div class="navbox">
<a href="blog.html">Blog</a>
<a href="about.html">About</a>
</div>
</div>
</div>
<div class="layout info">
$content$
</div>
<div class="layout footer">
Copyright &copy; 2024
</div>

</div>    
</body>
</html>
